<div>
    <%= link_to 'Clients', clients_path %>
     |
    <%= link_to 'Staffs', staffs_path %>
</div>

<div>
    <%= link_to 'Log in as Client', new_client_session_path %>
     |
    <%= link_to 'Log in as Staff', new_staff_session_path %>
</div>
